# Ignore node_modules if any
node_modules/

# MacOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Python
__pycache__/
*.pyc

# Build artifacts
dist/
build/

# Environment files
.env

# Other
*.log
